.app {
  max-width: 80rem;
}

.content {
  display: flex;
}

.detail {
  flex: 1 1 70%;
}

.list {
  flex: 1 1 30%;
}

@media screen and (max-width: 48rem) /* 780px을 16으로 나눠서 rem으로 계산 */ {
  .content {
    flex-direction: column;
  }
}
